<form>
    <div>
        <label>Nume</label>
        <br>
        <input required [(ngModel)]="product.name" name="name" type="text">
    </div>
    <div>
        <label>Price</label>
        <br>
        <input required [(ngModel)]="product.price" name="price" type="text">
    </div>
    <div>
        <label>Quantity</label>
        <br>
        <input required [(ngModel)]="product.quantity" name="quantity" type="text">
    </div>
    <br>
    <button *ngIf="!product.id" (click)="addProduct()" class="btn btn-dark">Add Product</button>
    <button *ngIf="product.id" (click)="updateProduct()" class="btn btn-dark">Update Product</button>
</form>